@import "tailwindcss";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-brand-dark: #3D6133;
  --color-brand-primary: #69B34C;
  --color-brand-accent: #FDD100;
}

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50;
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-brand-primary/30 rounded-full hover:bg-brand-primary/50 transition-colors;
  }
}
